<div class="form{{#if modifier}} {{modifier}}{{/if}}">
    <header class="form__header" style="margin: 20px">
        <div class="form__header__main">
            {{#if title}}
                <h2 class="form__title">{{title}}</h2>
            {{/if}}
        </div>
    </header>
    <div class="form__main" style="padding: 20px">
        {{#if isSuccess}}
            <p class="form__success">{{successMessage}}</p>
        {{else}}
            {{#if validation.message}}
                <div class="form__errors">
                    {{#if validation.title}}
                        <h3 class="form__errors__title">{{validation.title}}</h3>
                    {{/if}}
                    <div class="form__errors__content">
                        {{{validation.message}}}
                    </div>
                </div>
            {{/if}}
            {{#each fieldsets}}
                <fieldset class="form__fieldset" style="margin: 0; padding: 0; border: 0;">
                    {{#if legend}}
                        <legend class="form__fieldset__legend">{{legend}}</legend>
                    {{/if}}
                    {{#each fields}}
                        {{#if _ref }}
                            <div style="margin: 20px 0;">
                                {{{ modPartial _ref this 'form' }}}
                            </div>
                        {{/if}}
                    {{/each}}
                </fieldset>
            {{/each}}
        {{/if}}            
        <div class="form__actions{{#unless actionLinks.[1]}} form__actions--inline{{/unless}}">
            {{~#if submitButtonText}}
                <button class="form__submit" type="submit">
                    {{submitButtonText}}
                </button>
            {{/if~}}
            {{~#if actionLinks.[0]}}
                <div class="form__links" style="margin-top: 10px;">
                    {{#each actionLinks}}
                        <a class="form__links__link" href="{{href}}" title="{{title}}">{{label}}</a>
                    {{/each}}
                </div>
            {{/if~}}
        </div>
    </div>
</div>
