<label class="{{_modifiers.[0]}}__text-input {{_modifiers.[0]}}__text-input--{{#if type}}{{type}}{{else}}text{{/if}}">
	<input
		class="{{_modifiers.[0]}}__text-input__control" 
		type="{{#if type}}{{type}}{{else}}text{{/if}}" 
		autocomplete="{{#if autocomplete}}{{autocomplete}}{{else}}on{{/if}}"
		{{#if id}}id="{{id}}" {{/if}}
		{{#if name}}name="{{name}}" {{/if}}
		{{#if placeholder}}placeholder="{{placeholder}}"{{/if}} 
		{{#if value}}value="{{value}}"{{/if}}

		{{#if isRequired}}required="required"{{/if}}
		{{#if requiredMessage}}data-msg-required="{{requiredMessage}}"{{/if}}

		{{#if pattern}}pattern="{{pattern}}"{{/if}}
		{{#if patternMessage}}data-msg-regex="{{patternMessage}}"{{/if}}

		{{#if isReadonly}}readonly="readonly"{{/if}}
		{{#if isDisabled}}disabled="disabled"{{/if}}

		{{#if min}}min="{{min}}"{{/if}}
		{{#if max}}max="{{max}}"{{/if}}
		{{#if minlength}}minlength="{{minlength}}"{{/if}}
		{{#if maxlength}}maxlength="{{maxlength}}"{{/if}}
>
	<span class="{{_modifiers.[0]}}__text-input__label">{{label}}</span>
</label>
