<fieldset class="{{_modifiers.[0]}}__checkbox-radio-list"{{#if isRequired}} data-required-set{{/if}}{{#if requiredMessage}} data-msg-required-set="{{requiredMessage}}"{{/if}}>
	{{#if legend}}
		<legend class="{{_modifiers.[0]}}__checkbox-radio-list__legend">{{legend}}</legend>
	{{/if}}
	{{#each elements}}
		{{{ modPartial 'parFormCheckboxRadio' this ../_modifiers.[0] }}}
	{{/each}}
	{{#if id}}
		<div id="{{id}}"></div>
	{{/if}}
</fieldset>