<div style="padding: 20px; background: #EEE;">
    {{#each rows}}

        <h2>Row {{@index}}</h2>

        <div style="padding: 20px; background: #DDD;">
            <h3 style="padding-top: 0;">Row Config</h3>
            <div>
                {{#with config}}
                <div>String: {{string}}</div>
                <div>Enum: {{enumString}}</div>
                <div>Boolean: {{boolean}}</div>
                <div>Number: {{number}}</div>
                <div>Image: <img src="{{image.src}}" alt="{{image.alt}}" /></div>
                <div>Link: <a href="{{link.href}}" title="{{link.title}}">{{link.label}}</a></div>
                {{/with}}
            </div>
        </div>

        {{#if columns.[0]}}
            <div style="display: flex; flex-wrap: wrap; padding: 20px; background: #CCC; gap: 20px;">

                {{#each columns}}
                        {{#if items.[0]}}

                            <div style="flex: 1; padding: 20px; background: #BBB;">

                                <h2>Column {{@index}}</h2>

                                <div style="padding: 20px; margin-bottom: 20px; background: #999;">
                                    <h3 style="padding-top: 0;">Col Config</h3>
                                    <div>
                                        {{#with config}}
                                        <div>String: {{string}}</div>
                                        <div>Enum: {{enumString}}</div>
                                        <div>Boolean: {{boolean}}</div>
                                        <div>Number: {{number}}</div>
                                        <div>Image: <img src="{{image.src}}" alt="{{image.alt}}" /></div>
                                        <div>Link: <a href="{{link.href}}" title="{{link.title}}">{{link.label}}</a></div>
                                        {{/with}}
                                    </div>
                                </div>

                                {{#each items}}
                                    <div style="padding: 20px; background: #AAA; margin-bottom: 20px;">
                                        <h3 style="padding-top: 0;">Column Item {{@index}}</h3>
                                        {{#if this.content}}
                                            {{{ dynPartial _ref this.content }}}
                                        {{else}}
                                            {{{ dynPartial _ref this }}}
                                        {{/if}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/if}}
                {{/each}}
            </div>
        {{/if}}
    {{/each}}
</div>