<span class="{{_modifiers.[0]}}__title-and-description">
    <h3 class="{{_modifiers.[0]}}__title-and-description__title">{{title}}</h3>
    <p class="{{_modifiers.[0]}}__title-and-description__bodyText">{{{description}}}</p>		
</span>