<section class="py-7" id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <span class="text-muted text-uppercase">{{title}}</span>
                <h2 class="display-4">{{subtitle}}</h2>
                <p class="lead">
                    {{text}}
                </p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-11 mx-auto">
                <div class="card-group pricing-table">
                    {{#each items}}
                    {{#if primary}}
                        <div class="card bg-primary text-white text-center">
                            <div class="card-body">
                                <h4 class="card-title text-white pt-3">{{title}}</h4>
                                <h2 class="card-title text-white pt-4">{{price}}</h2>
                                <div class="text-light mt-4">{{period}}</div>
                                <ul class="list-unstyled pricing-list">
                                    {{#each text}}
                                        <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                                <a href="#" class="btn btn-secondary">
                                    {{link.label}}
                                </a>
                            </div>
                        </div>
                    {{else}}
                        <div class="card text-center bg-light">
                            <div class="card-body">
                                <h4 class="card-title pt-3">{{title}}</h4>
                                <h2 class="card-title text-primary pt-4">{{price}}</h2>
                                <div class="text-muted mt-4">{{period}}</div>
                                <ul class="list-unstyled pricing-list">
                                    {{#each text}}
                                        <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                                <a href="#" class="btn btn-primary">
                                    {{link.label}}
                                </a>
                            </div>
                        </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-9 mx-auto">
                <div class="row">
                    {{#each reasons}}
                    <div class="col-md-4 text-center">
                        <div class="icon-box border-box">
                            <div class="icon-box-inner p-2 text-primary">
                                <span data-feather="{{icon}}"></span>
                            </div>
                        </div>
                        <h6 class="mb-2">{{title}}</h6>
                        <p class="text-muted small-xl">{{text}}</p>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>