<button 
    class="{{_modifiers.[0]}}__form-button {{_modifiers.[0]}}__form-button--{{#if type}}{{type}}{{else}}button{{/if}}" 
    type="{{#if type}}{{type}}{{else}}button{{/if}}" 
    {{#if id}}id="{{id}}"{{/if}} 
    {{#if name}}name="{{name}}"{{/if}} 
    {{#if value}}value="{{value}}"{{/if}}
    title="{{label}}"
>
    {{label}}
</button>