@using Umbraco.Extensions
@using YuzuDelivery.Core
@using YuzuDelivery.Core.Mapping
@using YuzuDelivery.Umbraco.Forms;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Forms.Web.Models.FormViewModel>

@inject IMapper Mapper;
@{
    var mappingItems = (IDictionary<string, object>) ViewData["mappingItems"]!;
    var formBuilderTemplate = ViewData["template"]!.ToString();
}
@if (Model.SubmitHandled)
{
    Func<object> getFormData = () =>
    {
        return new vmBlock_DataFormBuilder()
        {
            IsSuccess = true,
            SuccessMessage = Model.MessageOnSubmit
        };
    };

    using (Html.BeginUmbracoForm<Umbraco.Forms.Web.Controllers.UmbracoFormsController>("HandleForm", FormMethod.Post, new Dictionary<string, object>() { { "data-app", "Forms" }, { "novalidate", "novalidate" } }))
    {
        @Html.RenderYuzu(new RenderSettings() { Template = formBuilderTemplate, Data = getFormData, ShowJson = false })
    }
}
else
{
    vmSub_DataFormBuilderValidation validation = null;
    if (ViewContext.ModelState.ErrorCount > 0)
    {
        var validationSummary = Html.ValidationSummary(false);
        validation = new vmSub_DataFormBuilderValidation()
        {
            Title = "Sorry, something went wrong....",
            Message = validationSummary.ToHtmlString()
        };
    }

    Func<object> getFormData = () =>
    {
        var output = Mapper.Map<vmBlock_DataFormBuilder>(Model, mappingItems);

        output.IsSuccess = false;
        output.SubmitButtonText = Model.SubmitCaption;
        output.Validation = validation;
        return output;
    };

    using (Html.BeginUmbracoForm<Umbraco.Forms.Web.Controllers.UmbracoFormsController>("HandleForm", FormMethod.Post, new Dictionary<string, object>() { { "novalidate", "novalidate" } }))
    {
        @Html.RenderYuzu(new RenderSettings() { Template = formBuilderTemplate, Data = getFormData, ShowJson = false })

        @Html.HiddenFor(x => Model.FormId, new { id = (string)null })
        @Html.HiddenFor(x => Model.FormName, new { id = (string)null })
        @Html.HiddenFor(x => Model.RecordId, new { id = (string)null })
        @Html.HiddenFor(x => Model.PreviousClicked, new { id = (string)null })
        @Html.HiddenFor(x => Model.Theme, new { id = (string)null })

        <input type="hidden" name="FormStep" value="@Model.FormStep" />
        <input type="hidden" name="RecordState" value="@Model.RecordState" />


        <div style="display: none">
            <input type="text" name="@Model.FormId.ToString().Replace("-", "")" />
        </div>
    }
}
