<div>String: {{string}}</div>
<div>Long Text: {{longText}}</div>
<div>Rich Text: {{{richText}}}</div>
<div>Enum: {{enumString}}</div>
<div>String Array: {{#each stringArray}}{{this}} {{/each}}</div>
<div>Boolean: {{boolean}}</div>
<div>Integer: {{integer}}</div>
<div>Number: {{number}}</div>
<div>Image: <img src="{{image.src}}" alt="{{image.alt}}" /></div>
<div>Image Array: {{#each imageArray}}<img src="{{this.src}}" alt="{{this.alt}}" />{{/each}}</div>
<div>Link: <a href="{{link.href}}" title="{{link.title}}">{{link.label}}</a></div>
<div>Link Array: {{#each linkArray}}<a href="{{this.href}}" title="{{this.title}}">{{this.label}}</a> {{/each}}</div>
{{#if subBlock}}<div>SubBlock: {{> parSubBlock subBlock}}</div>{{/if}}
{{#if subBlocks}}
<div>
    SubBlocks: 
    <ul>
        {{#each subBlocks}}
            {{> parSubBlock this}}
        {{/each}}
    </ul>
</div>
{{/if}}
{{#if dynamicSubBlock1}}<div>Dynamic SubBlock 1: {{{ dynPartial dynamicSubBlock1._ref dynamicSubBlock1 }}}</div>{{/if}}
{{#if dynamicSubBlock2}}<div>Dynamic SubBlock 2: {{{ dynPartial dynamicSubBlock2._ref dynamicSubBlock2 }}}</div>{{/if}}

{{#if dynamicSubBlocks}}
<div>
    Dynamic SubBlocks: 
    <ul>
        {{#each dynamicSubBlocks}}
            {{{ dynPartial _ref this }}}
        {{/each}}
    </ul>
</div>
{{/if}}

{{#if subBlockInline}}<div>Inline SubBlock : {{{ subBlockInline.string }}}</div>{{/if}}

{{#if subBlocksInline}}
<div>
    Inline SubBlocks: 
    <ul>
        {{#each subBlocksInline}}
            <li>String: {{string}}</li>
        {{/each}}
    </ul>
</div>
{{/if}}