{{!-- If there are validation messages to be displayed --}}
{{#if validation.message}}
    <div class="text-danger border border-danger rounded py-3 px-3 mb-4">
        {{#if validation.title}}
            <h3 class="h5 mb-2"><span class="icon-close"></span> {{validation.title}}</h3>
        {{/if}}
        <div class="">
            {{{validation.message}}}
        </div>
    </div>
{{/if}}

{{!-- If user has submitted form, display message --}}
{{#if isSuccess}}
    <p class="text-success border border-success rounded h5 py-3 px-3 mb-4"><span class="icon-check"></span> {{{successMessage}}}</p>
{{/if}}

{{#each fieldsets}}
    {{#each fields}}
        <div class="form-group">
            {{{ dynPartial _ref this }}}
        </div>
    {{/each}}
{{/each}}

{{#unless isSuccess}}
<div class="form-group">
    <button class="btn btn-primary btn-block" type="submit" >
        {{submitButtonText}}
    </button>
</div>
{{/unless}}