<section class="py-7 py-md-0 bg-hero" id="home"
    style="background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url({{backgroundImage.src}})">
    <div class="container">
        <div class="row vh-md-100">
            <div class="col-md-7 my-md-auto text-center text-md-left">
                <h1 class="display-3 text-white font-weight-bold">{{title}}</h1>
                <p class="lead text-light my-4">{{text}}</p>
                <a href="{{link.href}}" class="btn btn-primary page-scroll">{{link.label}}</a>
            </div>
        </div>
    </div>
</section>