<footer class="py-6 bg-black" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h5 class="text-white">{{title}}</h5>
                <p class="about">{{text}}</p>
                <ul class="list-inline social social-rounded social-sm">
                    {{#each socialLinks}}
                    <li class="list-inline-item">
                        <a href="{{href}}"><i class="fa fa-{{label}}"></i></a>
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{#each navAreas}}
            <div class="col-md-2 col-sm-6 ml-auto">
                <h5 class="text-white">{{title}}</h5>
                <ul class="list-unstyled mt-4">
                    {{#each navLinks}}
                    <li><a href="{{href}}">{{label}}</a></li>
                    {{/each}}
                </ul>
            </div>
            {{/each}}
        </div>
        <div class="row mt-5">
            <div class="col-12 text-muted text-center small-xl">
                <p>&copy; 2019 Lambda. All rights reserved.</p>
                Free Bootstrap 4 Multipurpose Landing Page Template by <a href="https://wireddots.com"
                    target="_blank">Wired Dots</a>.
            </div>
        </div>
    </div>
</footer>