 <div class="h-entry">
    <img  src="{{image.src}}" alt="{{image.alt}}" class="img-fluid">
    <h2 class="font-size-regular">
        <a href="{{link.href}}" title="{{link.title}}">{{title}}</a>
    </h2>
    <div class="meta mb-4">
        by {{author}}
        <span class="mx-2">&bullet;</span> {{date}}
        <span class="mx-2">&bullet;</span> <a href="#">{{category}}</a>
    </div>
    <p>{{summary}}</p>
</div>

