{{#if label}}
	<label for="{{name}}">{{label}}</label>	
{{/if}}
<textarea class="form-control" 
	{{#if name}}name="{{name}}"{{/if}}
	{{#if id}}id="{{id}}"{{/if}}
	{{#if placeholder}}placeholder="{{placeholder}}"{{/if}} 
	{{#if isRequired}}required="required"{{/if}}
	{{#if isReadonly}}readonly="readonly"{{/if}}
	{{#if isDisabled}}disabled="disabled"{{/if}}
	cols="30"
	rows="7"
>{{value}}</textarea>