<a href="{{link.href}}" title="{{link.title}}" class="unit-1 text-center">
    <img  src="{{image.src}}" alt="{{image.alt}}" class="img-fluid">
    <div class="unit-1-text">
        <h3 class="unit-1-heading">{{title}}</h3>
        <p class="px-5">{{text}}</p>
    </div>
</a>