{{#if title}}    
    <div class="site-section courses-title 
            {{#each _modifiers}}{{#ifCond this '===' 'course'}}bg-dark{{/ifCond}}{{/each}}
        "
    >
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
                    <h2 class="section-title">
                        {{title}}
                    </h2>
                </div>
            </div>
        </div>
    </div>    
{{/if}}
{{#if items.[0]}}
    <div class="site-section courses-entry-wrap" data-aos="fade-up" data-aos-delay="100">
        <div class="container">
            <div class="row">
                <div class="owl-carousel col-12 nonloop-block-14">
                    {{#each items}}
                        <div class="course bg-white h-100 align-self-stretch">
                            <figure class="m-0">
                                <a href="{{link.href}}" title="{{link.title}}">
                                    {{#if image}}
                                        <img class="img-fluid" src="{{image.src}}" alt="{{image.alt}}"/>
                                    {{/if}}
                                </a>
                            </figure>
                            <div class="course-inner-text py-4 px-4">
                                <span class="course-price">
                                    {{#if price}}
                                        {{price}}
                                    {{/if}}
                                </span>
                                {{#if duration}}
                                    <div class="meta">
                                        <span class="icon-clock-o"></span>
                                        {{duration}}
                                    </div>
                                {{/if}}
                                 {{#if title}}
                                    <h3><a href="{{link.href}}" title="{{link.title}}">{{title}}</a></h3>                                        
                                {{/if}}
                                {{#if description}}
                                    <p>{{description}}</p>
                                {{/if}}
                            </div>
                            <div class="d-flex border-top stats">
                                <div class="py-3 px-4"><span class="icon-users"></span> 
                                    {{#if participationCount}}
                                        {{participationCount}}
                                    {{/if}}
                                </div>
                                <div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> 
                                    {{commentCount}}              
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-7 text-center">
                    <button class="customPrevBtn btn btn-primary m-1">Prev</button>
                    <button class="customNextBtn btn btn-primary m-1">Next</button>
                </div>
            </div>
        </div>
    </div>
{{/if}}