{{#if items.[0]}}
    {{#if title}}
        <h3 class="mb-5">{{title}}</h3>
    {{/if}}
    <ul class="comment-list">
        {{#each items}}
            <li class="comment">
                <div class="vcard bio">
                    {{#if headshot.src}}
                        <img src="{{headshot.src}}" alt="{{headshot.alt}}"/>
                    {{/if}}
                </div>
                <div class="comment-body">
                    {{#if name}}
                        <h3>{{name}}</h3>
                    {{/if}}
                    {{#if timestamp}}
                        <div class="meta">{{timestamp}}</div>
                    {{/if}}
                    {{#if comment}}
                        <p>{{comment}}</p>
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ul>
{{/if}}