<div class="mb-5 text-center border rounded course-instructor">
    {{#if title}}
        <h3 class="mb-5 text-black text-uppercase h6 border-bottom pb-3">{{title}}</h3>
    {{/if}}
    <div class="mb-4 text-center">
        {{#if headshot.src}}
            <img class="w-25 rounded-circle mb-4" src="{{headshot.src}}" alt="{{headshot.alt}}"/>
        {{/if}}
        {{#if teacherName}}
            <h3 class="h5 text-black mb-4">{{teacherName}}</h3>
        {{/if}}
        {{#if text}}
            <p>{{text}}</p>
        {{/if}}
    </div>
</div>