<div class="container">
    <div class="row mb-5 align-items-center">
        <div class="col-lg-7 mb-5{{#if isImageAlignedRight}} order-1 order-lg-2{{/if}}" data-aos="fade-up" data-aos-delay="100">
            {{#if image}}
                <img class="img-fluid" src="{{image.src}}" alt="{{image.alt}}"/>
            {{/if}}
        </div>
        <div class="col-lg-4 ml-auto{{#if isImageAlignedRight}} order-2 order-lg-1{{/if}}" data-aos="fade-up" data-aos-delay="200">
            <h2 class="text-black mb-4">
                {{#if title}}
                    {{title}}
                {{/if}}
            </h2>
            {{#if text}}
                <p class="mb-4">{{text}}</p>
            {{/if}}
            {{#if statistics.[0]}}
                {{#each statistics}}
                    <div class="d-flex align-items-center custom-icon-wrap{{#unless @last}} mb-3{{/unless}}">
                        {{#if icon}}
                            <span class="custom-icon-inner mr-3"><span class="icon icon-{{enum icon}}"></span></span>
                        {{/if}}
                        {{#if text}}
                            <div>
                                <h3 class="m-0">{{text}}</h3>
                            </div>
                        {{/if}}
                    </div>
                {{/each}}
            {{/if}}

        </div>
    </div>
</div>