<div class="site-section bg-image overlay"{{#if background.src}} style="background-image: url('{{background.src}}');"{{/if}}>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8 text-center testimony">
                {{#if headshot.src}}
                    <img class="img-fluid w-25 mb-4 rounded-circle" src="{{headshot.src}}" alt="{{headshot.alt}}"/>
                {{/if}}
                {{#if title}}
                    <h3 class="mb-4">{{title}}</h3>
                {{/if}}
                {{#if bodyText}}
                    <blockquote>
                        <p>&ldquo; {{{bodyText}}} &rdquo;</p>
                    </blockquote>
                {{/if}}                
            </div>
        </div>
    </div>
</div>